@charset "utf-8";


main{
    max-width: 1024px;
    margin: auto;


}



header{
    background-color: orange;

}
nav{
    background-color: lightgreen;
    padding: 10px;
}
article {
    background-color: #ff9966;


}
aside{
    background-color: #3399ff;

}


footer{
    background-color: #ff9999;
    padding: 1px;

}
@media screen and (max-width:800px){
    main{
        display: grid;
        grid-template-areas:
            "h h h h"
            "n a a a2"
            "f f f f";
    }
}
aside bal{
    grid-area:b;
}
article img{
    width: 100%;

}


header{
    grid-area:h;
}

article {
    grid-area:a;

}

footer{
    grid-area:f;
}


